/* === HEADER === */
header {
  background-color: #007b7f;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fdfdf0;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fdfdf0;
  position: relative;
}

.logo::after {
  content: "";
  display: block;
  height: 12px;
  background-color: #fee58c;
  margin-top: 10px;
}

nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  background-color: #fdfdf0;
  color: #271923;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

nav a:hover,
nav a.active {
  background-color: #fee58c;
  transform: scale(1.05);
}
/* === FOOTER === */
footer, footer * {
  background-color: #eeeeee;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #606060;
}

footer a {
  color: #606060;
  text-decoration: underline;
}
